<p id="notice"><%= notice %></p>

<p>
  <b>Name :</b>
  
</p>

<p>
	<!--  While the uesr reading the old status ,  the user can edit the status and he can come back by clicking 
on the back button to redirect from that page.-->
  <strong>Content:</strong>
  <%= @status.content %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
